<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateTeamServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.team.CreateTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlayerServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.team.AddPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.user.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.user.readUserDataServlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamProfileServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.team.TeamProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTeamServlet</servlet-name>
        <servlet-class>com.kmitsystem.servlets.team.SearchTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserSettings</servlet-name>
        <servlet-class>com.kmitsystem.servlets.user.ChangeUserSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTeamServlet</servlet-name>
        <url-pattern>/teams/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlayerServlet</servlet-name>
        <url-pattern>/AddPlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamProfileServlet</servlet-name>
        <url-pattern>/team/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTeamServlet</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserSettings</servlet-name>
        <url-pattern>/ChangeUserSettings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/index.jsp</location>
    </error-page>
</web-app>
